{
  "presets": [
    "es2015",
    "stage-2",
    "rax"
  ],
  "plugins": [
    "transform-jsx-stylesheet",
    [
      "transform-react-jsx",
      {
        "pragma": "createElement"
      }
    ],
    "transform-runtime"
//    {
//      "helpers": false,
//      "polyfill": false,
//      "regenerator": true,
//      "moduleName": "babel-runtime"
//    }
    //    [
    //      "module-resolver",
    //      {
    //        "root": [
    //          "."
    //        ],
    //        "alias": {
    //          "react": "rax",
    //          "react-dom": "rax-dom",
    //          // Not necessary unless you consume a module using `createClass`
    //          "create-react-class": "rax/lib/createClass"
    //        }
    //      }
    //    ]
  ]
}